-f https://download.pytorch.org/whl/torch_stable.html

joblib==0.13.2
pandas==0.24.2
numpy==1.16.4
streamlit==0.71.0
imbalanced_learn==0.7.0
torch==1.5.0+cpu
imblearn==0.0
Pillow==8.0.1
scikit_learn==0.23.2
